.ServicesContainer {
    background-color: #c7ddb5;
    padding: 60px;
    text-align: center;
}

.serviceBoxes {
    gap: 80px;
    width: 1800px;
}

.serviceOverFllow {
    overflow: overLay;
    padding-bottom: 50px;
}

.serviceOverFllow::-webkit-scrollbar {
    width:1px;
    background:var(---section-color);
  }
  .serviceOverFllow::-webkit-scrollbar-thumb  {
    background:var(---section-color);
    width: 10px;
  }

.serviceBox {
    width: 40%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.serviceHeader {
    padding: 20px;
}

.serviceButton {
    margin: auto;
    width: 60%;
    text-align: center;
}

.ServiceButtonContainer {
    padding: 20px 0;
    color: white;
}

.serviceDisc {
    line-height: 1.5;
}

.serviceHeader {
    color: #21B6A8;
}



@media (max-width:800px) {
    .serviceOverFllow {
        overflow: unset;
        padding: 0!important;
    }

    .serviceBoxes  {
        flex-wrap: wrap;
    }

    .serviceBox {
        width: 40%;
    }
    .serviceBoxes  {
        width: 100%;
        gap: 40px;
    }
    .ServicesContainer {
        padding: 60px 30px;
    }
}

@media (max-width:650px) {
    .serviceBoxes  {
        flex-direction: column;
    }
    .serviceBox {
        width: 55%;
    }
    .ServicesContainer {
        padding:60px 10px;
    }
}

@media (max-width:500px) {
    .serviceBox {
        width: 80%;
    }
}